CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
receiver
sender
periodic_sender
clear_all
*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
build
install
log